html {
	font-family: 'Raleway', 'Helvetica', sans-serif;
	font-weight: 400;
	color: #2f3442;
	height: 100%;
	background-color: #ffffff;
}

.icon {
	color: #bcd2da;
}

.cardGroup {
	border: 1px solid #cad0d2;
	border-radius: 4px;
	overflow: hidden;
	max-width: 800px;
	margin: auto;
	/* As a flex container: display, flex-direction, justify-content, align-items */
	display: flex;
}

.card {
	border: none;
	border-radius: 4px;
	border-left: 1px solid #d7dbdd;
	overflow: hidden;
	/* As a flex item: flex-grow, flex-shrink, flex-basis */
	flex-basis: 0;
	flex-grow: 1;
	/* As a flex container: display, flex-direction, justify-content, align-items */
	display: flex;
	flex-direction: column;
}

.card-description {
	padding: 15px 0;
	/* As a flex item: flex-grow, flex-shrink, flex-basis */
	flex-grow: 1;
	/* As a flex container: display, flex-direction, justify-content, align-items */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card .card-description .icon {
	font-size: 32px;
	margin-bottom: 10px;
}

.card-description-text {
	color: #57727c;
	font-size: 12px;
	text-align: center;
	max-width: calc(100% - 30px);
}

.card-price {
	text-align: center;
	color: #57727c;
	font-size: 12px;
	font-weight: 700;
	padding: 5px 15px;
	border-top: 1px solid #d7dbdd;
	background-color: #eef3f5;
}